header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.app{
    min-height: 100vh;
    flex-direction: column;
}
header h1 {
    font-size: 36px;
}

.features {
    height: 52vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.feature {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f5f5f5;
}

.feature h2 {
    font-size: 24px;
}

.cta {
    background-color: #f39c12;
    text-align: center;
    padding: 40px;
}

.cta h2 {
    font-size: 30px;
    color: #fff;
}

.btn {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #c0392b;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
}
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    height: 100vh;

}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.about {
    padding: 20px;
    text-align: center;
    font-family: Comic-Sans;
    font-size: 80;
}

.about h1 {
    font-size: 36px;
    font-family: Roboto-Mono;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
}
